@model Calculator.Add.Addition;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Geomasters</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form asp-action="Index">
        <input type="number" asp-for="FirstNumber" />
        <input type="number" asp-for="SecondNumber" />
        <input type="submit" />
    </form>

    <p>@ViewData["result"]</p>
</div>
